================================================================================
These boards are supported by {{ app_name }} application
================================================================================
{% for board in supported_boards -%}
- {{ board }}
{% endfor -%}